@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css');

// Type
h1 {
    color: $emphasis;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $second-emphasis -1px 1px 1px;
}
h2 { color: lighten($second-emphasis, 20%); font-size: 1.5em; font-weight: 300; }
h3 { color: $emphasis; text-transform: uppercase; }
h4, h5 { font-weight: bold; }
h1, h2, h3, h4, p { margin-bottom: 0.75em; }
ul {
    list-style: disc;
    margin: 10px 0 0 20px;
    @include gridle_state(tablet) { margin: 10px 0 0 10px; }
    @include gridle_state(mobile) { margin: 10px 0 0 5px; }
}
div { position: relative; box-sizing: border-box;}
p, li { line-height: 1.5em; }
a {
    &:hover, &:active {
        text-decoration: underline;
        color: lighter($emphasis, 10%);
    }
    &, &:visited {
        color: darken($emphasis, 10%);;
        text-decoration: none;
    }
}
em { font-style: italic; }
strong { font-weight: bold; }
