@import 'settings';
@import 'variables';
@import 'reset';
@import 'reset';
@import 'type';

// Mixins
@mixin clear() {
    &:after, &:before {
        content: "";
        clear: both;
        display: block;
    }
}

@mixin frame($size) {
    width: $size;
    height: $size;
    border-radius: 100%;
    background: transparent top center no-repeat;
    background-size: cover;
}

// Containers
@include gridle_generate_classes ();

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background: $background url('/images/wrap.png');
  padding: 30px 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    color: $type;
    .header {
        @include gridle(8);
        @include gridle(10, 'mobile');
        @include gridle_centered();
        h1, h2, p { text-align: center; }
        h1{
            text-shadow: white -1px 1px 2px;
            @include gridle_state(mobile) { font-size: 1.4em; }
            &.big {
                text-shadow: white -2px 2px 2px;
                font-size: 150px;
                margin-bottom: 20px;
                @include gridle_state(tablet) { font-size: 80px; }
                @include gridle_state(mobile) { font-size: 60px; }
            }
        }
    }
    .section {
        @include gridle(11);
        @include gridle_centered();
        padding: 50px 0;
        margin: 50px 0;
        border-radius: 4px;
        background: white;
        .inner {
            @include gridle(11);
            @include gridle(12, tablet);
            @include gridle_no_gutter(tablet);
            @include gridle_centered();
            @include clear();
        }
    }
}
.about {
    @include gridle(11);
    @include gridle_centered();
    h2, h3 { text-align: center; padding: 20px 0; }
    img.grid-3 { padding-top: 20px; }
    .show-mobile { display: none; }
    @include gridle_state(mobile) {
        img { width: 100%; }
        .show-mobile { display: block; }
        img.grid-3 { width: 50%; }
    }
}
.issues {
    @include gridle(10);
    @include gridle_centered();
    padding: 30px 0;
    @include clear();
    .scroll {
        overflow-y: scroll;
        margin: 20px 0 50px;
        table {
            th .img {
                @include frame(40px);
                margin: 0 auto;
                display: block;
            }
            th h4 { font-size: 10px; }
            tr:nth-child(even) td { background: lighten($background, 30%); }
            td:first-child {
                text-align: left;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 0;
                min-width: 200px;
            }
            td {
                line-height: 1.4em;
                padding: 20px;
                text-align: center;
            }
        }
    }
}

.candidate, .measure {
    padding: 20px 0;
    h2 { text-align: center; }
    @include gridle_state(tablet) {
        padding: 30px 0;
    }
}
.candidate {
    @include gridle(6);
    @include gridle(10, tablet);
    @include gridle_centered(tablet);
    min-height: 470px;
    margin-bottom: 50px;

    .social {
        text-align: left;
        @include gridle(8);
        @include gridle_float (right);

        @include gridle_state(mobile) { text-align: center; padding-left: 0;}

        @include gridle_centered(tablet);
        padding-left: 0;
        padding-right: 0;

        a {
            font-size: 10px;
            margin: 4px auto;
        }
    }
    .bio {
        padding-left: 0;
        padding-right: 0;
        min-height: 170px;
        @include gridle(12, mobile);
        @include gridle(6);
    }
    .img {
        @include frame(100px);
        margin: 0 auto;
    }
}
#search_form {
    @include gridle_centered();
    @include gridle(10);
    @include gridle(12, mobile);

    input {
        @include gridle(8);
        @include gridle(12, mobile);
    }
    button {
        @include gridle_push(1);
        @include gridle(3);
        @include gridle(12, mobile);
        @include gridle_push(0, mobile);
        @include gridle_centered(mobile);
        color: $emphasis;
    }
    @include clear();
    margin-bottom: 30px;
}
.counselor {
    @include gridle(4);
    @include gridle(6, tablet);
    @include gridle(10, mobile);
    text-align: center;
    div.img {
        @include frame(60px);
        min-height: 60px;
        margin: 0 auto;
        display: block;
    }
    min-height: 160px;
    margin-bottom: 40px;

    a {
        font-size: 12px;
        padding: 0 4px;
        &:before { margin-right: 2px; }
    }
    .bio {
        margin: 20px 0;
    }
    min-height: 300px;
    &.row-1 { @include gridle_push(4); }
    &.row-2 {
        @include gridle_push(2);
        @include gridle_push(0, tablet);
    }
}
.map_container {
    margin: 50px 0 0;

    @include gridle(10);
    @include gridle_centered();

    @include clear();
}
#map_canvas {

    width: 100%;
    margin: 30px auto;
    display: none;

    height: 400px;
    @include gridle_state(tablet) { height: 300px; }
}
#the_cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 10;
    opacity: 0.8;
}
a.vote_for {
    position: absolute;
    left: 50%;
    width: 84px;
    margin-left: -42px;
    text-transform: uppercase;
    color: $color-no;
    cursor: pointer;
    background: $second-emphasis;
    padding: 4px 8px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 10px;
    text-align: center;
    &.checked {
        &.fa { font-family: 'Open Sans', sans-serif; }
        &:before {
            font: normal normal normal 12px/1 FontAwesome;
            margin-left: -4px;
            margin-right: 4px;
        }
    }
}
.now_voting_for {
    $border_radius: 30px;
    $container_height: 70px;

    position: relative;
    z-index: 11;
    background: #fff;
    a.vote_for { z-index: 13; opacity: 0.7; }

    .outers {
        border-radius: $border_radius;
        box-shadow: #fff 0px 0px 10px 30px;
        pointer-events: all;
        position: absolute;
        z-index: 11;

        top: 0;
        bottom: -1 * $container_height;
        left: 0;
        right: 0;
        pointer-events: none;
        .inners {
            background: #fff;
            pointer-events: all;
            padding: 20px 20px 0;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: $container_height;
            strong { color: $third-emphasis; }
            .socials {
                padding: 10px 0;
                text-align: center;
                display: inline-block;
                a {
                    text-decoration: none;
                    background: $second-emphasis;
                    color: $emphasis;
                    margin: 0 16px -8px;
                    font-size: 16px;
                    width: 20px;
                    position: relative;
                    &:before {
                        background: $second-emphasis;
                        height: 20px;
                        width: 20px;
                        border-radius: 100%;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 4px 4px 2px;
                        font-size: 16px;
                    }
                    &.clicked, &:hover, &:active {
                        &:before {
                            background: $emphasis;
                            color: $second-emphasis;
                        }
                    }

                }
            }
        }
    }
}
